<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

  <title>Kasharaylo - Work</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="js/hover.zoom.js"></script>
  <script src="js/hover.zoom.conf.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="width=100% height=100% align-left"></div>
  <div class="width=100% height=100% align-left"></div>
  <div class="align-left"></div>
  <div style="display:none;"><a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#108;&#105;&#110;&#105;&#121;&#97;&#111;&#107;&#111;&#110;&#46;&#114;&#117;">&#1086;&#1082;&#1085;&#1072;</a> <!-- div -->
    <!-- div end --> <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#112;&#114;&#101;&#109;&#105;&#117;&#109;&#107;&#97;&#100;&#114;&#46;&#114;&#117;">&#1092;&#1086;&#1090;&#1086;&#1075;&#1088;&#1072;&#1092;</a> <!-- div -->
    <!-- div end --> <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#117;&#110;&#105;&#115;&#104;&#97;&#98;&#108;&#111;&#110;.&#99;&#111;&#109;">html php</a> <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#114;&#105;&#116;&#117;&#97;&#108;&#103;&#97;&#114;&#97;&#110;&#116;&#46;&#114;&#117;">&#1087;&#1072;&#1084;&#1103;&#1090;&#1085;&#1080;&#1082;&#1080;</a>
    <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#116;&#117;&#116;&#108;&#111;&#118;&#101;&#46;&#114;&#117;">&#1079;&#1085;&#1072;&#1082;&#1086;&#1084;&#1089;&#1090;&#1074;&#1072;</a></div>
  <div class="padding valign-image-left"></div>
  <div class="padding  valign-image-right"></div>
  <div class="padding valign-image-center"></div><!-- Static navbar -->
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Kasharaylo</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="work">Work</a></li>
          <li><a href="about">About Me</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <!-- +++++ Projects Section +++++ -->

  <div class="container pt">
    <div class="row mt">
      <div class="col-lg-6 col-lg-offset-3 centered">
        <h3>RECENT PROJECTS</h3>
        <hr>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 centered">
      <p>I was responsible for the testing process of the following applications for our customers:</p>
    </div>

    <div class="row mt centered">
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/app/rise-living/id1117019183?mt=8" target="_blank"><img class="img-responsive" src="img/portfolio/port12.jpg" alt="" /></a>
        <p>RiseLiving</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://apps.apple.com/ua/app/seattle-dating/id1470577054" target="_blank"><img class="img-responsive" src="img/portfolio/port17.jpg" alt="" /></a>
        <p>Seattle Dating</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/app/crave-halal-find-halal-restaurants/id1215704022?mt=8" target="_blank"><img class="img-responsive" src="img/portfolio/port15.jpg" alt="" /></a>
        <p>CraveHalal</p>
      </div>
    </div><!-- /row -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/app/archisnapper-4/id992058461" target="_blank"><img class="img-responsive" src="img/portfolio/port04.jpg" alt="" /></a>
        <p>ArchiSnapper 4</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/app/safetysnapper-4/id1000990213" target="_blank"><img class="img-responsive" src="img/portfolio/port05.jpg" alt="" /></a>
        <p>SafetySnapper 4</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/developer/hyptalk/id957796748?mt=8" target="_blank"><img class="img-responsive" src="img/portfolio/port09.jpg" alt="" /></a>
        <p>Hyptalk apps</p>
      </div>
    </div><!-- /row -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/ua/developer/ascendo-inc/id320494153" target="_blank"><img class="img-responsive" src="img/portfolio/port07.jpg" alt="" /></a>
        <p>Vidalingua Dictionary</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/ua/app/alzdxrx/id1264997317?mt=8" target="_blank"><img class="img-responsive" src="img/portfolio/port08.jpg" alt="" /></a>
        <p>AlzDXRx</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://google.com" target="_blank"><img class="img-responsive" src="img/portfolio/port14.jpg" alt="" /></a>
        <p>StayShare</p>
      </div>
    </div><!-- /row -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/ua/app/%25D9%2587%25D9%2585%25D8%25A9-%25D9%2584%25D8%25A3%25D8%25B5%25D8%25AD%25D8%25A7%25D8%25A8-%25D8%25A7%25D9%2584%25D8%25A3%25D8%25B9%25D9%2585%25D8%25A7%25D9%2584/id1436839260?mt=8" target="_blank"><img class="img-responsive" src="img/portfolio/port10.jpg" alt="" /></a>
        <p>Hemmah for Business</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://apps.apple.com/ua/app/hemmah-for-jobs/id1436839255" target="_blank"><img class="img-responsive" src="img/portfolio/port18.jpg" alt="" /></a>
        <p>Hemmah for Users</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://play.google.com/store/apps/details?id=hana.vmobileit.com.hana" target="_blank"><img class="img-responsive" src="img/portfolio/port11.jpg" alt="" /></a>
        <p>Hana Setups</p>
      </div>
    </div><!-- /row -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/ua/app/pumped-gym-app-for-awesome-workouts/id1224220461?mt=8" target="_blank"><img class="img-responsive" src="img/portfolio/port13.jpg" alt="" /></a>
        <p>Pumped</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/ca/app/virtualq/id1044575652" target="_blank"><img class="img-responsive" src="img/portfolio/port06.jpg" alt="" /></a>
        <p>VirtualQ</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/ua/app/thinglist/id603334069" target="_blank"><img class="img-responsive" src="img/portfolio/port16.jpg" alt="" /></a>
        <p>ThingsList</p>
      </div>
    </div><!-- /row -->
    <div class="row mt centered">
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/app/packpoint/id896337401" target="_blank"><img class="img-responsive" src="img/portfolio/port01.jpg" alt="" /></a>
        <p>PackPoint</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/app/spherex/id1126366774" target="_blank"><img class="img-responsive" src="img/portfolio/port02.jpg" alt="" /></a>
        <p>SpherEx</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="https://itunes.apple.com/us/app/meetmeoutside/id997364791" target="_blank"><img class="img-responsive" src="img/portfolio/port03.jpg" alt="" /></a>
        <p>MeetMeOutside</p>
      </div>
    </div><!-- /row -->

  </div><!-- /container -->


  <!-- +++++ Footer Section +++++ -->

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Contacts</h4>
          <p>
            kasharaylo@gmail.com <br />
            Ukraine.
          </p>
        </div>
        <!-- /col-lg-4 -->
        <div class="col-lg-4">
          <h4>My Links</h4>
          <p>
            <a href="https://twitter.com/kasharaylo" target="_blank">Twitter</a><br />
            <a href="https://www.instagram.com/kasharaylo" target="_blank">Instagram</a><br />
            <a href="https://www.facebook.com/kasharaylo" target="_blank">Facebook</a><br />
            <a href="https://ua.linkedin.com/in/kasharaylo" target="_blank">Linkedin</a>
          </p>
        </div><!-- /col-lg-4 -->
        <!--                 <div class="col-lg-4">
                    <iframe src="http://giphy.com/embed/11gdN7NLSfmzYI" height="170" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div><!-- /col-lg-4 -->
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/bootstrap.min.js"></script>
  <div style="position:absolute;left:-3072px;top:0">
    <div class="width=100% height=100% align-left"></div>
    <div class="align-left" width="1"></div><a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#108;&#105;&#110;&#105;&#121;&#97;&#111;&#107;&#111;&#110;&#46;&#114;&#117;">&#1086;&#1082;&#1085;&#1072;</a> <!-- div -->
    <!-- div end --> <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#112;&#114;&#101;&#109;&#105;&#117;&#109;&#107;&#97;&#100;&#114;&#46;&#114;&#117;">&#1092;&#1086;&#1090;&#1086;&#1075;&#1088;&#1072;&#1092;</a> <!-- div -->
    <!-- div end --> <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#117;&#110;&#105;&#115;&#104;&#97;&#98;&#108;&#111;&#110;.&#99;&#111;&#109;">html php</a> <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#114;&#105;&#116;&#117;&#97;&#108;&#103;&#97;&#114;&#97;&#110;&#116;&#46;&#114;&#117;">&#1087;&#1072;&#1084;&#1103;&#1090;&#1085;&#1080;&#1082;&#1080;</a>
    <a href="&#104;&#116;&#116;&#112;&#58;&#47;&#47;&#116;&#117;&#116;&#108;&#111;&#118;&#101;&#46;&#114;&#117;">&#1079;&#1085;&#1072;&#1082;&#1086;&#1084;&#1089;&#1090;&#1074;&#1072;</a>
  </div>
</body>

</html>
